<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/error.js" defer></script>

    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQYcENVSbpuKUMylaVjx6boFkb46opCmc4Pg&s">
</head>

<body>
    <h1>Admin Page - Guest Entries</h1>
    <h2><a href = "https://github.com/JonusClapshaw/Guest-book-form">https://github.com/JonusClapshaw/Guest-book-form</a></h2>
</body>
</html>