<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <fieldset>
            <legend>Personal Information</legend>
                <label for="fname">First Name:</label><br>
                <input type="text" id="fname" name="fname">
                <span id = "err-fname" class = "error"> First Name cannot be blank </span>
                <br>
                <label for="lname">Last Name:</label><br>
                <input type="text" id="lname" name="lname">
                <span id = "err-lname" class = "error"> Last Name cannot be blank </span>
                <br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email">
                <span id = "err-email" class = "error"> Email cannot be blank </span>
        </fieldset>
</body>
</html>