<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="js/error.js" defer></script>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQYcENVSbpuKUMylaVjx6boFkb46opCmc4Pg&s">
</head>

<body>
    <form id="guest-book" action="submit-order" method="post">
        <h1>Contact Form</h1>
        <div class = "form-container">
            <div class="form-group">
                <label for="fname">First Name</label>
                <input type='text' id="fname" name="fname">
                <span id = "err-fname" class = "error"> First Name cannot be blank </span>
            </div>

            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname">
                <span id = "err-lname" class = "error"> Last Name cannot be blank </span>
            </div>

            <div class="form-group">
                <label for="jtitle">Job Title</label>
                <input type="text" id="jtitle" name="jtitle">
            </div>

            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" id="company" name="company">
            </div>

            <div class="form-group">
                <label for="linkedin">LinkedIn</label>
                <input type="text" id="linkedin" name="linkedin">
                <span id = "err-linkedin" class = "error"> LinkedIn must begin with https://linkedin.com/in/</span>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
                <span id = "err-email" class = "error"> Email cannot be blank or must contain @ and . </span>
            </div>
        </div>

        <div class = "form-container-two">
            <div class="form-group-two">
                <legend>How did we meet</legend>
                <select id ="meet" name="meet">
                    <option value="none">Please Select</option>
                    <option value="online"> Online</option>
                    <option value="peertopeer"> Peer to Peer</option>
                    <option value="mail"> Email</option>
                </select>
            </div>

            <div class="form-group-two">
                <label for="other">Other(Specify)</label>
                <input type="text" id="other" name="other">
            </div>
        </div>

        <div class = "form-container-three">
            <div class = "form-group">
                <label for="message">Message</label>
                <textarea cols= "80"rows="5" id="message" name="message"></textarea>
            </div>
            <label for ="method" >
                <input type ="checkbox" id ="mail" name = "method" value = "mail"> Please add me to the mailing list
                 <span id = "err-mail" class = "error"> Please have email if you want to be added to the mailing list</span>
            </label>  
        </div>  
        <div class="form-container-four">
            <legend> Choose an email format: </legend>
            <label for ="html" >
                    <input type ="radio" id ="html" name = "type[]" value = "html"> HTML
            </label>
            <label for ="text" >
                    <input type ="radio" id ="text" name = "type[]" value = "text"> Text
            </label>
        </div>

        <button type="submit" id="submit-button">Submit </button>
    </form>

    <fieldset>
        <h2><a href = "https://github.com/JonusClapshaw/Guest-book-form">https://github.com/JonusClapshaw/Guest-book-form</a></h2>
    </fieldset>
</body>
</html>