<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest-Book-Form</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <section class = "form-container">
        <form class = "form-grid" id="Guest-form" action="#" method="put">
            <fieldset>
                <h1>Contact form</h1>
                <div>
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="fname">
                </div>
                <div>
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lname">
                </div>
                <div>
                    <label for="jobtitle">Job title</label><br>
                    <input type="text" id="jobtitle" name="jobtitle">
                </div>

                <div>
                    <label for="company">Company</label>
                    <input type="text" id="company" name="company">
                </div>
                <div>
                    <label for="linkedin">LinkedIn URL</label>
                    <input type="text" id="linkedin" name="linkedin">
                </div>
                <div>
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email">
                </div>
            </fieldset>
        </form>
    </section>
</body>
</html>