<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/resume.css">
</head>
<body>
    <%- include('partials/header') %>

    <section id = "intro">
        <div class = "container">
            <div class = "left">
                <h1>Jonus Clapshaw</h1>
            </div>
            <div class = "right">
                <img src="https://media.licdn.com/dms/image/v2/C5603AQGuiKSzR5lf0A/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1567879241269?e=1764201600&v=beta&t=-KDiHP82Lh43AqqS3WL2KpeIoKutMB6bjzwKPqUPmNU" alt ="Jonus Clapshaw at lake">
            </div>
        </div>
        <div class = "container">
            <div class = "left">
                <p><a href ="https://www.linkedin.com/in/jonus-clapshaw">LinkedIn.com/in/Jonus-Clapshaw</a></p>
                <p>Joclapshaw@gmail.com</p>
            </div>
            <div class = "right">
                <p>github.com/JonusClapshaw</p>
                <p>(253)226-0124</p>
            </div>
        </div>
        </header>
    </section>

    <section id = "education">
        <h3>Education</h3>
        <div class = "container">
            <div class = "left">
                <p>White River High School</p>
                <p>Pierce College - Associate Degree</p>
                <p>Green River College - Software Engineering Bachelor</p>
                <ul class = "custom">
                    <li>Github experience</li>
                    <li>Object Oriented Programming</li>
                    <li>Game Development in Unity</li>
                </ul>
            </div>
            <div class = "right">
                <p>Graduated: 2017</p>
                <p>Graduated: 2019</p>
                <p>2024 - present</p>
                <ul class = "custom">
                    <li>HTML fundimentals</li>
                    <li>Languages: Java, C#</li>
                </ul>
            </div>
        </section>

        <section id = "Skills">
            <h3>Skills</h3>
            <div class = "container">
                <div class = "left">
                    <ul class = "custom">
                        <li>Working with Project leads and clients</li>
                        <li>Commercial Sales</li>
                        <li>Price management with direct suppliers</li>
                    </ul>
                </div>
                <div class = "right">
                    <ul class = "custom">
                        <li>Managing Commercial accounts</li>
                        <li>Project Management</li>
                        
                    </ul>
                </div>
            </div>
        </section>

        <section id = "experience">
            <h3>Experience</h3>
            <div class = "container">
                <div class = "left">
                    <h4>Amazon Delivery Driver</h4>
                    <ul>
                        <li>Maintain under time constraints to finish routes</li>
                        <li>Ability to work long shifts (10-12 hours)</li>
                        <li>Assist team members in finishing deliveries</li>
                    </ul>
                </div>
                <div class = "right">
                    <h4>2021-2023</h4>
                </div>
            </div>

            <div class = "container">
                <div class = "left">
                    <h4>Convoy Supply Inside Sales Representative</h4>
                    <ul>
                        <li>Maintained customer relations for commercial and residential jobs</li>
                        <li>Working with a team and different departments across the US</li>
                        <li>Understanding margins and the cost of goods</li>
                    </ul>
                </div>
                <div class = "right">
                    <h4>2020-2021</h4>
                </div>
            </div>

            <div class = "container">
                <div class = "left">
                    <h4>Westside Delivery Driver</h4>
                    <ul>
                        <li>Be welcoming and friendly to customers</li>
                        <li>Work under fast-paced conditions</li>
                    </ul>
                </div>
                <div class = "right">
                    <h4>2025-Present</h4>
                </div>
            </div>
        </div>
    </section>
</body>
</html>