h1 {
    text-align: center;
}

.form-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      max-width: 60%;
      margin: auto;
}

.form-grid label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
}