h1 {
    color:red;
    text-align: center;
}

.form-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.form-container-two {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.form-container-three {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.form-group {
    display: grid;
}

.form-group-two {
    display: grid;
}

body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}