h1 {
    text-align: center;
}

.form-container {
    max-width: 60%;
    margin: auto;
    padding: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.form-grid div{
    background-color: cyan;
}

.form-grid label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-grid label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}